@import url("https://fonts.googleapis.com/css?family=Raleway:200,100,400");

a, a:hover, a:active {
    text-decoration: none;
    color: #0D6EFD;
}
li:hover {
    background-color: #F1F1F1;
    cursor: pointer;
    
}
li {
    margin: 3px;
    font-size: 1.1rem;
}
hr{
    margin-top: -5px;
}

* {
    font-family:'Raleway', sans-serif;
}

img {
    width: 100px;
    height: 100px;
}