@import url("https://fonts.googleapis.com/css?family=Raleway:200,100,400");
* {
    font-family:'Raleway', sans-serif;
}
.resume-photo {
    width: 250px;
    height: 250px;
    border-radius: 90%;
}

@page { size: A4; }
@media print {}

.info {
    display: flex;
  }
.personal {
    width: 300px;
}
.other {
    flex: 1;
}

a , a::hove{
    text-decoration: none;
    color: rgb(0, 119, 255);
    font-family: sans-serif;
    font-size: 12px;
    font-style: normal;
}

.bg {
    background-color:rgba(204, 204, 204, 0.486);
}