{% extends 'base.html' %}

{% block content %}

<div class="text-capitalize">
    <form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}   
    <div class="row">
        <div class="col-md-10 mt-3">
            <label class="mb-1" for="photo">Upload Your Picture:</label>
            {{ form.photo(class_='form-control')}}
        </div>
        <div class="col-md-2">
            <img src="{{ url_for('static', filename=current_user.photo)}}">
        </div>
        <div class="col-md-6">
            <label class="mb-1 mt-2" for="phone">Phone:</label>
            {{ form.phone(class_='form-control')}}
        </div>
        <div class="col-md-6">
            <label class="mb-1 mt-2" for="age">age (enter Your Birthday Year):</label>
            {{ form.birthday_year(class_='form-control')}}
        </div>
        <div class="col-md-12">
            <label class="mb-1 mt-2" for="title">Title:</label>
            {{ form.title(class_='form-control')}}
        </div>
        <div class="col-md-6">
            <label class="mb-1 mt-2" for="city">City:</label>
            {{ form.city(class_='form-control')}}
        </div>
        <div class="col-md-6">
            <label class="mb-1 mt-2" for="identifi">Identification number:</label>
            {{ form.identifi_number(class_='form-control')}}
        </div>
        <div class="col-md-6">
            <label class="mb-1 mt-2" for="marital">Marital status:</label>
            {{ form.marital_status(class_='form-control')}}
        </div>
        <div class="col-md-6" id="genderDiv">
            <label class="mb-1 mt-2"  for="gender">gender:</label>
            {{ form.gender(class_='form-control')}}
        </div>
        <div class="col-md-12">
            <label class="mb-1 mt-2" for="about">about me:</label>
            {{ form.about(class_='form-control')}}
        </div>
    </div>
    <button class="w-100 btn btn-outline-primary mt-3" type="submit">Submit</button>
    </form>
</div>
<script>
    document.querySelector('#gender').addEventListener('change', (e) => {
        if(e.target.value === 'other'){
            document.querySelector('#otherGender').style.display = 'block';
            document.querySelector('#genderDiv').classList = 'col-md-3';
            document.querySelector('#otherGender').classList = 'col-md-3';
        }else{
            document.querySelector('#otherGender').style.display = 'none';
            document.querySelector('#genderDiv').classList = 'col-md-6';
        }
    })
</script>
{% endblock %}