{% extends 'base.html' %}

{% block content %}
<div class="text-capitalize">
  <button id="showFormBtn" class="btn btn-primary w-100 mb-3" onclick="addSkill();">Add New Skill</button>
  <form method="post" style="display:none;" id="form">
    {{ form.hidden_tag() }}
    <div class="row">
      <div class="col-md-6">
        <label class="mb-1" for="bookid">Project title:</label>
        {{ form.project_title(class_='form-control') }}
      </div>
      <div class="col-md-6">
        <label class="mb-1" for="cardid">URL:</label>
        {{ form.url(class_='form-control') }}
      </div>
      <div class="col-md-12 mt-2">
        <label class="mb-1" for="bookid">Technologys :</label>
        {{ form.tech(class_='form-control') }}
      </div>
      <div class="col-md-12">
        <label class="mb-1 mt-2" for="cardid">Description:</label>
        {{ form.about(class_='form-control') }}
      </div>
    </div>
    <button class="w-100 btn btn-outline-primary mt-3" type="submit">
      Add
    </button>
  </form>
  {% for project in projects %}
  <div class="jobs p-3 m-1 rounded" style="background-color:#ccc;">
    {{project.title}} {{ project.url }}
  </div>
  {% endfor %}
</div>
<script>
  function addSkill(){
      document.querySelector('#form').style.display = 'block';
      document.querySelector('#showFormBtn').style.display = 'none';
   }
</script>

{% endblock %}