{% extends 'base.html' %}

{% block content %}

<div class="text-capitalize">
    <button id="showFormBtn" class="btn btn-primary w-100 mb-3" onclick="addSkill();">Add New Skill</button>
    <form method="post" style="display:none;" id="form">
      {{ form.hidden_tag() }}
      <div class="row">
        <div class="col-md-6">
          <label class="mb-1" for="bookid">Skill:</label>
          {{ form.skill(class_='form-control') }}
        </div>
        <div class="col-md-6">
          <label class="mb-1" for="cardid">Level:</label>
          {{ form.level(class_='form-control') }}
        </div>
      </div>
      <button class="w-100 btn btn-outline-primary mt-3" type="submit">
        Add Skill
      </button>
    </form>
    {% for skill in skills %}
    <div class="jobs p-3 m-1 rounded" style="background-color:#ccc;">
      {{ skill.skill}} ({{ skill.level }})
      <a class="text-danger" style="float:right; font-size: 20px;" href="{{ url_for('delete_skill', id=skill.id) }}">X</a>
    </div>
    {% endfor %}
  </div>
  <script>
     function addSkill(){
         document.querySelector('#form').style.display = 'block';
         document.querySelector('#showFormBtn').style.display = 'none';
      }
  </script>

{% endblock %}